[ ca ]
default_ca = ca_default

[ ca_default ]
dir			= ./
new_certs_dir		= ./
database		= ./index.txt # make one
default_md		= default
email_in_dn		= .
policy			= policies
rand_serial		= ./
serial			= ./
crlDistributionPoints	= @crl_section
private_key		= ./root.key # name of root key 
certificate		= ./root.cert # name of root cert
default_crl_days	= 90	

[ req ]
distinguished_name	= req_dn
x509_extensions		= certificates
req_extensions		= csr
string_mask = utf8only
utf8 = yes

[ req_dn ]
countryName = Country Name (2 letter code)
countryName_default             = GB
countryName_min                 = 2
countryName_max                 = 2

stateOrProvinceName             = State or Province Name (full name)
stateOrProvinceName_default     = Suffolk

localityName                    = Locality Name (eg, city)
localityName_default            = Ipswich

organizationName                = Organization Name (eg, company)
organizationName_default        = Company

organizationalUnitName          = Organizational Unit Name (eg, section)
organizationalUnitName_default  = Team1

0.commonName                    = Common Name (FQDN of your server)
0.commonName_default            = local

[ crl_section ]
reasons		= keyCompromise, CACompromise
CRLissuer	= policies

[ certificates ]
basicConstraints=CA:TRUE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer

[ csr ]
basicConstraints=CA:TRUE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

