openssl_conf = openssl_init

[openssl_init]
engines = engine_section

[engine_section]
pkcs11 = pkcs11_section

[pkcs11_section]
engine_id = pkcs11
#dynamic_path =/usr/lib/x86_64-linux-gnu/engines-1.1
MODULE_PATH =/usr/local/lib/softhsm/libsofthsm2.so
init = 0

[ ca ]
default_ca			= ca_default

[ ca_default ]
dir				= ./
new_certs_dir			= ./
database			= ./index.txt
default_md			= default
email_in_dn			= .
policy				= policies
rand_serial			= .
serial				= .
crlDistributionPoints		= @crl_section
private_key			= slot_2042159416-label_key-2 # MUST BE CHANGED 
certificate			= ./inter.pem
default_crl_days		= 30	

[ req ]
distinguished_name		= req_dn
x509_extensions			= cert
req_extensions			= csr_extensions
default_md			= sha256
default_bits			= 2048
string_mask			= utf8only
utf8 				= yes

[ req_dn ]
countryName = Country Name (2 letter code)
countryName_default             = GB
countryName_min                 = 2
countryName_max                 = 2

stateOrProvinceName             = State or Province Name (full name)
stateOrProvinceName_default     = Suffolk

localityName                    = Locality Name (eg, city)
localityName_default            = Ipswich

organizationName                = Organization Name (eg, company)
organizationName_default        = Company

organizationalUnitName          = Organizational Unit Name (eg, section)
organizationalUnitName_default  = Team1

0.commonName                    = Common Name (FQDN of your server)
0.commonName_default            = local

[ crl_section ]
reasons				= keyCompromise,CACompromise
CRLissuer			= policies

[ policies ]
countryName			= optional
stateOrProvinceName		= optional
localityName			= optional
organizationName		= optional
organizationalUnitName		= optional
commonName			= optional
emailAddress			= optional 

[ cert ]
basicConstraints		= CA:TRUE
keyUsage			= nonRepudiation,digitalSignature,keyEncipherment
subjectKeyIdentifier		= hash
authorityKeyIdentifier		= keyid,issuer

[ csr_extensions ]
basicConstraints		= CA:TRUE
keyUsage			= nonRepudiation,digitalSignature,keyEncipherment

[ end ]
basicConstraints		= CA:FALSE
keyUsage			= nonRepudiation,digitalSignature,keyEncipherment
subjectKeyIdentifier		= hash
authorityKeyIdentifier		= keyid,issuer
