# OpenSSL configuration file to create a server certificate
# by Michal Trojnara 1998-2019

openssl_conf = openssl_init

[openssl_init]
engines = engine_section

[engine_section]
pkcs11 = pkcs11_section

[pkcs11_section]
engine_id = pkcs11
#Dynamic path not needed because pkcs11 engine is already installed to openssl directory
#dynamic_path = /path/to/engine_pkcs11.so
MODULE_PATH = /usr/local/lib/softhsm/libsofthsm2.so
init = 0

[ ca ]
default_ca		= CA_default

[ CA_default ]


[ req ]
# comment out the next line to protect the private key with a passphrase
#encrypt_key                     = yes
# the default key length is secure and quite fast - do not change it
default_bits                    = 2048
default_md                      = sha256
x509_extensions                 = v3_req
distinguished_name              = req_distinguished_name

[ req_distinguished_name ]
C=GB
L=IPSWICH
ST=SUFFOLK
O=BT
OU=CRYP
CN=TEST

[ v3_req ]
basicConstraints=CA:FALSE
keyUsage = nonRepudiation,digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer
